In [1]:
import nltk
import re
from string import punctuation
import pandas as pd
from nltk.tag import StanfordNERTagger
from nltk.tokenize import word_tokenize
import json
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [3]:
from google.colab import files
uploaded = files.upload()

Saving gg2020.json to gg2020.json

In [0]:
#url = 'gg2020.json'
url='http://drive.google.com/uc?export=view&id=1Ya7cxYANh-KDU7HfGmPPSR6wK7w1x1Tq'
df = pd.read_json(url, orient='columns', lines=True)

In [0]:
#import pandas as pd
url = 'gg2020.json'
df = pd.read_json(url, orient='columns', lines=True)

In [17]:
df.head()

                                    _id  ...                   id
0  {'$oid': '5e17fa7e174f9084edc115f2'}  ...  1214335827507122176
1  {'$oid': '5e17fa7e174f9084edc115f3'}  ...  1214335817436450816
2  {'$oid': '5e17fa7e174f9084edc115f4'}  ...  1214335816303988736
3  {'$oid': '5e17fa7e174f9084edc115f5'}  ...  1214335814068391936
4  {'$oid': '5e17fa7e174f9084edc115f6'}  ...  1214335813821046784

[5 rows x 6 columns]

In [0]:
#Testing
tweet1 = df.iloc[0]

In [13]:
#Testing
tweet1text = tweet1.loc['text']
print(tweet1text)

• Priyanka Chopra and Nick Jonas at the 77th Annual Golden Globe Awards present the award for Best TV series for a musical or comedy • #goldenglobes2020 @ Golden Globes https://t.co/fivnKsE9Ib

In [14]:
#Testing
tweet1text.lower().split().index("present")

13

In [19]:
#Testing 
numtweets = 0
for row in df.iterrows():
  numtweets += 1
numtweets

138582

In [9]:
#Testing 
tweet1 = df.iloc[0].loc['text']
split = re.compile(r'present').split(tweet1)
split
split[0]

'• Priyanka Chopra and Nick Jonas at the 77th Annual Golden Globe Awards '

In [3]:
award_tweet_arr_lowered = []
award_tweet_arr = []
working_df = df.copy()
for ind in working_df.index:
  text = working_df['text'][ind]
  award_tweet_arr.append(text)
  cleaned_text = text.lower()
  if (("best" in cleaned_text) or ("award" in cleaned_text)):
    award_tweet_arr_lowered.append(cleaned_text)

award_tweet_arr_lowered[0]

'• priyanka chopra and nick jonas at the 77th annual golden globe awards present the award for best tv series for a musical or comedy • #goldenglobes2020 @ golden globes https://t.co/fivnkse9ib'

In [0]:
working_df_2 = df.copy()
working_df_2['text'] = working_df_2['text'].apply(lambda txt: txt.lower())

In [42]:
working_df.head()

                                    _id  ...                   id
0  {'$oid': '5e17fa7e174f9084edc115f2'}  ...  1214335827507122176
1  {'$oid': '5e17fa7e174f9084edc115f3'}  ...  1214335817436450816
2  {'$oid': '5e17fa7e174f9084edc115f4'}  ...  1214335816303988736
3  {'$oid': '5e17fa7e174f9084edc115f5'}  ...  1214335814068391936
4  {'$oid': '5e17fa7e174f9084edc115f6'}  ...  1214335813821046784

[5 rows x 6 columns]

In [36]:
demille = working_df_2[working_df_2['text'].str.contains("cecil b. demille")]
demille.head()
demille.iloc[150]['text']

'tom hanks- cecil b. demille award acceptance speech at golden globes 2020. https://t.co/iqbjlzs2by'

In [26]:
dramapic = working_df_2[working_df_2['text'].str.contains("best motion picture - drama")]
dramapic.iloc[25]['text']

'1917 wins the golden globe for best motion picture - drama https://t.co/u0szlj8tfw https://t.co/zclxkhm8kn'

In [62]:
actressdrama = working_df_2[working_df_2['text'].str.contains("best performance by an actress in a motion picture - drama")]
actressdrama.iloc[4]['text']

'📷 awardseason: renée zellweger best performance by an actress in a motion picture - drama - judy 77th annual golden globe awards — january 5, 2020 https://t.co/ydi04jqq4f'

In [80]:
actordrama = working_df_2[working_df_2['text'].str.contains("best performance by an actor in a motion picture - drama")]
actordrama.iloc[19]['text']

"joaquin phoenix wins best performance by an actor in a motion picture - drama for 'joker'. #goldenglobes\n\nclick for the full list of winners. https://t.co/zmayfmuxnw"

In [81]:
comedy = working_df_2[working_df_2['text'].str.contains("best motion picture - comedy or musical")]
comedy.iloc[0]['text']

'as i predicted 2020 golden globe award winners:\n\njoaquin phoenix winning best actor for joker \n\nonce upon a time in hollywood wins the golden globe for best motion picture - comedy or musical. \nbest supporting actor - brad pitt\n\n#goldengiobes'

In [0]:
#The cell below is taking forever to run, I don't know why.  Probably best not to use it though

In [47]:
#from nltk.tag import StanfordNERTagger
from nltk.tokenize import word_tokenize
nltk.download('maxent_ne_chunker')
nltk.download('averaged_perceptron_tagger')
nltk.download('words')

classified_tweets = []

#st = StanfordNERTagger('/stanford-ner/classifiers/english.all.3class.distsim.crf.ser.gz',
#					   '/usr/share/stanford-ner/stanford-ner.jar',
#					   encoding='utf-8')
for tweet in award_tweet_arr:
  tokenized_tweet = word_tokenize(tweet)
  tags = nltk.pos_tag(tokenized_tweet)
  classified_tweet = nltk.ne_chunk(tags)
  classified_tweets.append(classified_tweet)

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

KeyboardInterrupt: ignored

In [0]:
#Search using official award names; find most frequent phrases that come before the award name

#Possible phrases: "receives the", "receive the", "accepted the", "accepts the award for"

#"acceptance speech"

#cut off for sure on "https"

#Maybe after it's cut on above items- check if "award" isn't in the first third of string, and if it's not, then cut off everything after "award"

#If "best" is in the string, cut off everything before

#Maybe use "golden globe award for best ___", "golden globe for best___ ", "golden globes for best ___" (there's a regex for adding an s I think) (that might actually be good but it only helps for the golden globes)

#"golden globes best ___ " (so regex should make "s" and "for" optional)
#If I clean the hashtags first, I can do "goldenglobe for best __" or "goldenglobes for best__"

#Need to create lists for different ways of getting the award name, and each way should have its own confidence level
#So "_ goes to" would have high confidence
#For "won _" need to figure out how to 1. stop when it reaches punctuation that isn't a dash (!, ., #, @) (actually that's the main thing) (maybe loop through tokens after won,
# first I find that ends with ! or . is the last word of award, or first I find that starts with # or @ is the last word of award)
#"Present the award for _"
#Need to figure out how to clean "the award for" from final result
#Also need to figure out removing punctuation in general
#Maybe delete a tweet from award_tweet_arr once I've used it? Alternatively move it to a specific array like "I used these tweets for that"
#Maybe also cut out the ones that include "golden globes awards"?

In [0]:
#Split on "golden globe best" 
gg_best_split = []
for tweet in award_tweet_arr_lowered:
  split_reg = re.compile(r'golden\s?globes?\s(award)?\s?(for)?\s?best')
  #split = re.compile(r'golden\s?globes?\s(award)?\s?(for)?\s?best').split(tweet)
  split = re.split(split_reg, tweet)
  if ((len(split)>1) and (split[3] != None)):
    split_end = "best" + split[3]
    gg_best_split.append(split_end)

In [60]:
#len(gg_best_split)
gg_best_split[200:220]

['best speech in itself. irreverence and humility. pure conviction and belief in his talent.',
 'best actor in comedy\xa0series https://t.co/9rtxlch1xg',
 'best actress in a musical or comedy film! the farewell is a powerful story about care and family — thank you for sharing it with the world. https://t.co/etzlwaz5uo',
 'best dressed list last night: https://t.co/gzebevyfkc https://t.co/p2xd9lowyc',
 'best film (drama), https://t.co/eszgqsff81 https://t.co/n8gcn3puq6',
 'best comedy or musical goes to... once upon a time in hollywood."\n\ncats: https://t.co/pkbre9tyoi',
 'best actress, winning in the musical or comedy category for her role in “the farewell." https://t.co/uxxpdoihte https://t.co/s5ccdzxsee',
 'best actor in @jokermovie @joaqphoenix gave a speech about climate change and animal agriculture\n\n#vegan #veganism #plantbased #plantbaseddiet #climatechange #animalrights\n\nhttps://t.co/89twj2gmrq',
 'best actress in the musical or comedy film category. bong joon ho’s “parasite” was the firs…https://t.co/rh26kpyrcs',
 'best drama. i thought #theirishman had a lot more emotional depth',
 'best tank top goes to jason momoa | tv guide https://t.co/t9pwkliurh',
 'best actress (2016) trophy at haus of gaga museum https://t.co/o2kkgee5a7',
 'best musical or comedy tv series goes to ‘fleabag’ –\xa0purewow https://t.co/bypenbmfyy',
 'best foreign language film for parasite\n#xl8 #subtitles  https://t.co/d6ze9rre3v',
 'best celebrity red carpet looks\nhttps://t.co/oegrv89elw\n\n@goldenbloggerz @goldenblogsrt @bloggershut @bonjourblogger #goldenglobes #goldenglobesawards2020 #fashion @bloggingbabesrt https://t.co/egw0cehdxk',
 'best animated movie went to tiny hillsboro film studio laika for its latest feature, “missing link,” which beat out all those hollywood blockbusters.\n\nhttps://t.co/szfrbej2ta',
 'best picture winner #1917 at solstice cinema in sony 4k definition and dolby surround sound.\nwednesday 11 march, 7:30pm\nhttps://t.co/ut5kddtzcq',
 'best fiction.',
 'best director, making her the first woman to have won best director at the golden globes. #80s #80smovies https://t.co/8tc9a3kzry',
 'best dressed lists? marjorie merriweather post knew a thing about dressing to impress. she wore this callot soeurs silk organza evening gown to be presented at the british royal court of st. james in 1929, rewearing it for a portrait two years later. https://t.co/gfsffpp0hx']

In [0]:
#How to split after this: "for", "https", punctuation maybe? except a dash in the middle? not sure how to ignore this
#Split into 2-6 word subphrases? 
#"goes to" split

In [0]:
substrings_arr = []
for best_split in gg_best_split:
  splitter = re.compile(r'[\s.,;!\']+')
  text_split = re.split(splitter, best_split)
  len_text = len(text_split)
  if(len_text >= 8):
    len_text = 8
  text_part = text_split[0]
  for i in range(1, len_text):
    if (("https" in text_split[i]) or ("for"==text_split[i])):
      break
    text_part = text_part + " " + text_split[i]
    if len(text_split[i]) > 2:
      substrings_arr.append(text_part)

In [0]:
substrings_df = pd.DataFrame(substrings_arr)

In [84]:
substrings_df.loc[0].value_counts()

best animated    1
Name: 0, dtype: int64

In [0]:
counted_group = substrings_df.groupby(0)[0].value_counts()

In [88]:
counted_group.head()

best #film                      best #film                        1
best #film &amp                 best #film &amp                   1
best #film &amp you             best #film &amp you               1
best #film &amp you don’t       best #film &amp you don’t         1
best #film &amp you don’t have  best #film &amp you don’t have    1
Name: 0, dtype: int64

In [0]:
sized_group = substrings_df.groupby([0]).size().reset_index(name = 'sizes')

In [98]:
sized_group.head()

                                0  sizes
0                      best #film      1
1                 best #film &amp      1
2             best #film &amp you      1
3       best #film &amp you don’t      1
4  best #film &amp you don’t have      1

In [103]:
sized_group.sort_values(by="sizes", ascending=False).head(60)

                                                 0  sizes
24                                      best actor    335
659                                   best actress    205
2485                                 best original    126
997                                  best animated    115
2665                              best performance     88
2286                                   best motion     81
1959                                  best foreign     80
2287                           best motion picture     74
3191                               best supporting     70
2739                                  best picture     66
1503                                 best director     65
998                          best animated feature     64
2490                           best original score     58
2589                            best original song     57
2008                         best foreign language     54
2012                    best foreign language film     49
1680                                    best drama     45
2674                  best performance by an actor     42
3192                         best supporting actor     37
272                          best actor in a drama     33
3004                               best screenplay     32
1400                                   best comedy     32
2680                best performance by an actress     27
3267                       best supporting actress     26
750                       best actress in a comedy     26
3332                               best television     25
1960                             best foreign film     24
320                         best actor in a motion     23
804            best actress in a musical or comedy     23
803                      best actress in a musical     23
2937                                    best score     21
321                 best actor in a motion picture     21
2677      best performance by an actor in a motion     20
1406                              best comedy film     19
1168                            best animated film     19
1832                                  best dressed     18
246                         best actor in a comedy     18
3346                        best television series     17
344                        best actor in a musical     16
347              best actor in a musical or comedy     15
806       best actress in a musical or comedy film     14
2313                   best motion picture - drama     14
787                       best actress in a motion     14
788               best actress in a motion picture     14
3400                                 best tv drama     14
2217                                  best limited     14
81                                  best actor and     13
3386                                best tv comedy     13
3431                                best tv series     13
250                  best actor in a comedy series     12
1043                    best animated feature film     12
2682    best performance by an actress in a motion     11
2095                         best foreign-language     11
1918                                     best film     11
3113                                     best song     11
2222                           best limited series     11
1255                           best animated movie     11
2679  best performance by an actor in a television     10
309                        best actor in a limited     10
293                   best actor in a drama series     10

In [74]:
substrings_arr[60:90]

['best film score has her',
 'best film score has her named',
 'best film score has her named mispronounced',
 'best film score has her named mispronounced (by',
 'best actor',
 'best actor went',
 'best actor went to joaquin',
 'best actor went to joaquin phoenix',
 'best bits',
 'best bits because',
 'best bits because his',
 'best bits because his dark',
 'best bits because his dark comedy',
 'best bits because his dark comedy makes',
 'best actor',
 'best actor bye',
 'best party',
 'best party pooper',
 'best party pooper goes',
 'best party pooper goes to @rickygervais',
 'best performance',
 'best performance in a trial',
 'best television',
 'best television series',
 'best television series – drama',
 'best television series – drama was',
 'best television series – drama was #greysanatomy',
 'best picture',
 'best picture and',
 'best picture and not']

In [20]:
#Split on 'goes to'
goes_to_split = []
for tweet in award_tweet_arr:
  split = re.compile(r'goes to').split(tweet)
  if ((("best" in split[0]) or ("award" in split[0])) and (len(split)>1)):
    goes_to_split.append(split[0])

goes_to_split[0]

'and the golden globe for best friend in a supporting role '

In [21]:
#Remove "for" and everything before 
cut_str = "for"
cleaned_goes_to = []
for tweet in goes_to_split:
  ind_award_for = tweet.find(cut_str)
  award_name = tweet[ind_award_for + len(cut_str):]
  cleaned_goes_to.append(award_name)

cleaned_goes_to[0]

' best friend in a supporting role '

In [24]:
#Remove whitespace and trailing punctuation
more_cleaned_goes_to = []
for name in cleaned_goes_to:
  name = name.strip()
  name = name.strip(punctuation)
  more_cleaned_goes_to.append(name)

print(more_cleaned_goes_to[0])
len(more_cleaned_goes_to)

best friend in a supporting role

368

In [28]:
more_cleaned_goes_to[300]

'd the winner of the golden biscuit award'

In [2]:
str = "the award for best motion picture"
cut_str = "the award for"
ind_award_for = str.find(cut_str)
str_new = str[ind_award_for + len(cut_str):]
str_new

' best motion picture'